body {
    /*font-family: 'Courier New', monospace;*/
    font-family: Arial, sans-serif;
    font-size: large;
  }

td {
    /*font-family: 'Courier New', monospace;*/
    font-family: 'Consolas', monospace;
    text-align: left;
}

.tab_readings td {
    text-align: center;
}

table, th {
    text-align: center;
}

table, th, td {
    border-collapse: collapse;
    padding: 5px;
}

table[id="tab_climate"] td,th {
    border: 1px solid;
    text-align: center;
}

.tab_readings {
    border: 1px solid;
}

.tab_readings tr:nth-child(even) {
    background-color: #D6EEEE;
  }

.alt_row_color tr:nth-child(even) {
    background-color: #D6EEEE;
  }

table[id="tab_top5_days"] td {
    text-align: right;
}

.chart_container {
    position: relative; 
    height:450px; 
    width:900px;
    max-width:1200px;
    min-width: 600px;
}

.table_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 30px;
}

@media (max-width: 600px) {
    .table_container {
      flex-direction: column;
      align-items: start;
    }
}

@media (max-width: 1400px) {
    #table_container_wind {
      flex-direction: column;
      align-items: start;
    }
}

#tab_latest_readings,#tab_month_so_far {
    width: 100%;
}
